[Unit]
After=network.target
After=db.service
After=worker-queue@q1.service
Description=NGINX Web
Wants=network-online.target

[Service]
ExecStart=/usr/sbin/nginx -g 'daemon off;'
StandardOutput=journal

[Install]
WantedBy=multi-user.target
